# Natureza dos dados

Trataremos aqui de dados retangulares, que tem nas linhas as unidades amostrais e nas colunas as variáveis.

**Variável**: Qualquer característica dos elementos em estudo e que temos
interesse em medir de alguma forma.

**Variáveis Qualitativas**
- *Nominais*: sexo, cor da pele, status de fumante (fumante ou não-fumante), classificação de inadimplente (sim ou não).
- *Ordinais*: escolaridade (em categorias), grau de satisfação (muito satisfeito, satisfeito, insatisfeito, muito insatisfeito), idade (em faixas).

**Variáveis Quantitativas**
- *Discretas*: número de defeitos em uma peça, número de produtos contratados.
- *Contínuas*: peso, idade, pressão sanguínea, valor contratado de um produto.

## Dados

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('../data/CompanhiaMB.csv', sep=',')
df.head()

,funcionario,estado_civil,instrucao,nfilhos,salario,idade_anos,idade_meses,regiao
0,1,solteiro,ensino_fundamental,NaN,4.00,26,3,interior
1,2,casado,ensino_fundamental,1.0,4.56,32,10,capital
2,3,casado,ensino_fundamental,2.0,5.25,36,5,capital
3,4,solteiro,ensino_medio,NaN,5.73,20,10,outro
4,5,solteiro,ensino_fundamental,NaN,6.26,40,7,outro

- `funcionario`: *identificador*
- `estado_civil`: qualitativa nominal
- `instrucao`: qualitativa ordinal
- `nfilhos`: quantitativa discreta
- `salario`: quantitativa contínua
- `idade_anos`: quantitativa discreta
- `idade_meses`: quantitativa discreta
- `regiao`: qualitativa nominal